
body

{
    font-family:'Courier New', Courier, monospace;
    font-size: 110%;
    background-color: rgb(240, 250, 248);
    
}

body img

{

    width: 10%;


}


header

{
    background-color: rgb(108, 139, 167);
}


header img

{

    margin-top: 20px;

    width: 18%;

    height: 18%;

}



nav


{
    display: flex;
    justify-content: center;
    width: 80%;
    flex-wrap: wrap;
    

}

nav a 

{

    color: rgb(241, 241, 241);
    font-size: 24px;
    text-decoration: none;
    margin: 40px;


}

nav img


{ 

    margin-left: 115%;
    margin-top: 5%;
    width: 20%;
    height: 25%;



}


ul

{
    display: flex;

    list-style-type: none;

    flex-direction: row;

    justify-content: space-evenly;

}




main

{
    background-color: rgb(180, 220, 245);

    font-size: 130%;



}

footer

{

    background-color: rgb(176, 213, 201);

}

h1

{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: rgb(241, 241, 241);

}

p

{  
    line-height: 90%;
}


.grid

{

    display: grid;

    grid-template-columns: 40% 40%;

    justify-content: space-evenly;

    align-items: center;

    row-gap: 20px;



}
 
.grid img

{
    
    width: 90%;
    height: 90%;
    border: solid 1px rgb(108, 139, 167);
    padding: 10px;
    background-color: rgb(253, 253, 253);
    border-radius: none;




}
   

.flex-index

{

    display: flex;

    justify-content: space-evenly;

    max-height: 100%;

    flex-wrap: wrap;



}

.flex-index img 

{

  flex: 0 0 100px;
  width: 12%;
  height: 12%;
  border: solid 1px black;
  padding: 2px;
  border-radius: 55%;
  background-color: rgb(247, 228, 228);


}

.flex-index img:hover

{

    width: 20%;
    transition-duration: .5s;
    transition-delay: .1s;



}



.flex-foods

{

    display: flex;

    justify-content: space-evenly;

    max-height: 100%;

    flex-wrap: wrap;

    gap: 10px;



}

.flex-foods img 

{

  flex: 0 0 100px;
  width: 12%;
  height: 12%;
  border: solid 1px black;
  padding: 2px;
  background-color: rgb(247, 228, 228);
  

}

.flex-foods img:nth-child(3n+1)

{

    border-radius: 20%;

}

.flex-foods img:nth-child(3n+2)

{

    border-radius: 55%;

}


.flex-foods img:nth-child(3n+3)

{

    border-radius: 40%;

}




.flex-foods p 
{

    font-size: 20px;


}

.current

{

    text-transform: uppercase;

    background-color: rgb(109, 129, 142);

    


}



.focus-link {
  
  position: absolute;
  top: -40px; /* moves it off-screen */
  left: 10px;
  background-color: rgb(180, 220, 245);
  color: #0f0e0e;
  padding: 8px 12px;
  text-decoration: none;
  transition: top 0.3s ease; /* smooth animation */
  z-index: 100; /* stay above other content */

}


.focus-link:focus {
  top: 10px; /* slides into view */
}


